div.container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
  width: 900px;
}

div.container > div {
  box-sizing: border-box;
  display: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  padding: 35px 75px;
  position: relative;
  width: 100%;
  z-index: 101;
}

div.container div.active {
  display: inline-block;
}

main section div.container div ul li span {
  margin: 0px 0px 0px 75px;
  display: inline-block;
}

main section div.container div ul li span.title {
  width: 100px;
}

main section div.container div ul li span.date {
  width: 150px;
}

main section div.container div ul li span.action:before {
  content: attr(data-icon);
  font-family: 'Material Icons';
  font-size: 20px;
}

main section div.container div ul li span:first-child{
  margin: 0px;
}
