main section div.container div.user ul {
  background: white;
  bottom: 25px;
  right: 50px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

main section div.container div.user ul li {
  border-top: 1px solid lightgrey;
  font-size: 14px;
  list-style: none;
  padding: 0px;
  padding: 10px 60px;
  margin: 0px;
}

main section div.container div.user ul li span {
  display: inline-block;
  vertical-align: top;
}

main section div.container div.user ul li button:before {
  content: attr(data-icon);
  font-family: 'Material Icons';
  font-size: 20px;
  text-align: left;
}

main section div.container div.user ul li span button {
  background: none;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  width: 25px;
}

main section div.container div.user ul li:first-child {
  border-top: none;
}

main section div.container div.user ul li span button.submit{
}
