main section div.container div.vm h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin: 0px 15px 30px;
    height: 56px;
    /*background: pink;*/
    line-height: 56px;
}

main section div.container div.vm:before {
    content: attr(data-icon);
    color: #e6e6e6;
    font-family: 'Material Icons';
    font-size: 730px;
    left: -250px;
    line-height: 660px;
    position: absolute;
    top: -30px;
    z-index: -1;
}

main section div.container div.vm div.machine ul {
    border: 1px solid lightgrey;
    display: inline-block;
    margin: 0px 0px 0px 20px;
    padding: 10px 20px;
    width: 225px;
    font-size: 12px;
    line-height: 5px;
}

main section div.container div.vm div.machine ul li {
    list-style: none;
    margin-top: 10px;
    padding: 5px 0px 5px 110px;
    position: relative;
}

main section div.container div.vm div.machine ul li:first-child {
    margin-top: none;
}

main section div.container div.vm div.machine ul li:before {
    box-sizing: border-box;
    border-right: 1px solid lightgrey;
    content: attr(data-list);
    padding: 5px 10px;
    position: absolute;
    text-align: right;
    left: 0px;
    top: 0px;
    width: 100px;
}

main section div.container div.vm div.machine span {
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 0px 0px 0px;
    margin: 0px 0px 0px 70px;
    width: 200px;
}

main section div.container div.vm div.machine span button {
    background: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 50px;
    position: relative;
    padding: 0px 0px 0px 60px;
    text-align: left;
    width: 100%;
}




main section div.container div.vm div.machine span button:before {
    content: attr(data-icon);
    color: #bdbdbd;
    font-family: 'Material Icons';
    font-size: 50px;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 50px;
}

main section div.container div.vm div.machine span button:after {
    content: attr(data-name);
    color: grey;
    left: 0px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: left;
    top: 0px;
    width: 0px;
    transition: width .25s linear;
}

main section div.container div.vm div.machine span button:hover:before {
    color: #757575;
}

main section div.container div.vm div.machine span button:hover:after {
    cursor: pointer;
    width: 60px;
}

main section div.container div.vm div.snapshots {
    margin: 30px 0px 0px;
    position: relative;
}

main section div.container div.vm div.snapshots ul {
    box-shadow: 0 0 200px .1px lightgray;
    bottom: 25px;
    right: 50px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    line-height: 30px;

}

main section div.container div.vm div.snapshots ul li {
    border-top: 1px solid lightgrey;
    font-size: 14px;
    list-style: none;
    padding: 0px;
    padding: 5px 55px;
    margin: 0px;
}

main section div.container div.vm div.snapshots ul li span {
    display: inline-block;
    vertical-align: top;
}

main section div.container div.vm div.snapshots ul li button:before {
    content: attr(data-icon);
    font-family: 'Material Icons';
    font-size: 20px;
    text-align: left;
}

main section div.container div.vm div.snapshots ul li span button {
    background: none;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width: 25px;
}

main section div.container div.vm div.snapshots ul li.template {
    display: none;
}

main section div.container div.vm div.snapshots ul li.new {
    /*font-style: italic;*/
    color: grey;
}

main section div.container div.vm div.snapshots ul li:first-child {
    border-top: none;
}

main section div.container div.vm div.snapshots ul li span {
    margin: 0px 0px 0px 115px;
}

main section div.container div.vm div.snapshots ul li span:first-child {
    margin: 0px;
}

main section div.container div.vm ul li span.action{
    width: 125px;
}

main section div.container div.vm ul li span.action:before {
    content: attr(data-icon);
    font-family: 'Material Icons';
    font-size: 20px;
}

main section div.container div.vm div.machine span div.progressbar {
    background-color: #555;
    height: 1%;
    width: 0%;
    position: absolute;
    line-height: inherit
}


.hidden {
  display: none;
}
